.contactingMe {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .titleAboutMe {
    h1 {
      font: 700 30px "Poppins";
      width: 150px;
    }
    .line {
      width: 100px;
      border: 3px solid black;
      background-color: #000000;
    }
  }
  .infoAboutMe {
    display: flex;
    justify-content: space-around;
    .image {
      background-image: url("../../assets/imageName.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 198px;
      height: 198px;
    }
    .infoName {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font: 300 30px "Poppins";
        margin-top: 30px;
      }
      p {
        font: 300 15px "Poppins";
        width: 760px;
      }
    }
  }
}
