.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  .info {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    p {
      font: 400 22px "Poppins";
    }
    h1 {
      font: 800 88px "Poppins";
    }
    .pFocus {
      font: 400 22px "Poppins";
      width: 642px;
    }
    .button {
      border: 1px solid #000000;
      background: #f5cc44;
      width: 190px;
      height: 48px;
      border-radius: 15px;
      padding: 13px 29px;
      margin-top: 30px;
      font: 600 16px "Poppins";
    }
  }
  .myFoto {
    background-image: url("../../assets/myFoto.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 425px;
    height: 660px;
    margin-top: -80px;
  }
}
